<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns       = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.eks.mobilesearch"
        versionCode = "1"
        version     = "0.1">
 
    <name>Mobile Search</name>
 
    <description>
        A simple app to search content
    </description>
 
    <author email="laurent.piguet@eks.com">
      Laurent Piguet
    </author>

<!-- 
    <feature name="http://api.phonegap.com/1.0/camera"/>
    <feature name="http://api.phonegap.com/1.0/contacts"/>
    <feature name="http://api.phonegap.com/1.0/file"/>
    <feature name="http://api.phonegap.com/1.0/geolocation"/>
    <feature name="http://api.phonegap.com/1.0/media"/>
    <feature name="http://api.phonegap.com/1.0/notification"/>
-->
    <feature name="http://api.phonegap.com/1.0/network"/>

    <icon src="icon.png" />
    <icon gap:density="ldpi" gap:platform="android" src="res/icon/android/icon-36.png" />
    <icon gap:density="mdpi" gap:platform="android" src="res/icon/android/icon-48.png" />
    <icon gap:density="hdpi" gap:platform="android" src="res/icon/android/icon-72.png" />
    <icon gap:density="xhdpi" gap:platform="android" src="res/icon/android/icon-96.png" />
    <icon gap:platform="ios" height="57" src="res/icon/ios/icon-57.png" width="57" />
    <icon gap:platform="ios" height="72" src="res/icon/ios/icon-72.png" width="72" />
    <icon gap:platform="ios" height="114" src="res/icon/ios/icon-114.png" width="114" />
    <icon gap:platform="ios" height="144" src="res/icon/ios/icon-144.png" width="144" />

    <gap:splash gap:density="ldpi" gap:platform="android" src="res/screen/android/screen-200x320.png" />
    <gap:splash gap:density="mdpi" gap:platform="android" src="res/screen/android/screen-320x480.png" />
    <gap:splash gap:density="hdpi" gap:platform="android" src="res/screen/android/screen-480x800.png" />
    <gap:splash gap:density="xhdpi" gap:platform="android" src="res/screen/android/screen-720x1280.png" />

    <!-- iPhone -->
    <gap:splash gap:platform="ios" src="res/screen/ios/screen-320x480.png" width="320" height="480"/>
    <gap:splash gap:platform="ios" src="res/screen/ios/screen-480x320.png" width="480" height="320"/>

    <!-- iPhone 4 -->
    <gap:splash gap:platform="ios" src="res/screen/ios/screen-640x960.png" width="640" height="960"/>
    <gap:splash gap:platform="ios" src="res/screen/ios/screen-960x640.png" width="960" height="640"/>

    <!-- iPhone 5 -->
    <gap:splash gap:platform="ios" src="res/screen/ios/screen-640x1116.png" width="640" height="1136"/>
    <gap:splash gap:platform="ios" src="res/screen/ios/screen-1136x620.png" width="1136" height="640"/>

    <!-- iPad -->
    <gap:splash gap:platform="ios" src="res/screen/ios/screen-768x1004.png" width="768" height="1024"/>
    <gap:splash gap:platform="ios" src="res/screen/ios/screen-1024x748.png" width="1024" height="768"/>

    <!-- iPad Retina -->
    <gap:splash gap:platform="ios" src="res/screen/ios/screen-1536x2008.png" width="1536" height="2048"/>
    <gap:splash gap:platform="ios" src="res/screen/ios/screen-2048x1496.png" width="2048" height="1536"/>

    <gap:platform name="android" />
    <gap:platform name="ios" />

    <gap:plugin name="org.apache.cordova.device"/>
    <gap:plugin name="com.phonegap.plugin.statusbar"/>

    <preference name="DisallowOverscroll" value="true"/>
<!--    <preference name="Fullscreen" value="true" /> -->
    <preference name="StatusBarOverlaysWebView" value="false" />

    <access origin="*" />
 
</widget>
